# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
.venv/

# chroma db
agent/chroma_db

# Environment variables
.env
.env.*

# IDE / editor settings
.vscode/
.idea/

# Build / distribution files
dist/
build/
*.egg-info/

tempCodeRunnerFile.py

agent/output

agent/active_sandboxes.json